DATABASE_URL=postgresql://<username>:<password>@localhost:5432/<database_name>

REDIS_URL=redis://localhost:6379/0

SECRET_KEY=your_secret_key_here

ENVIRONMENT=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=hash_benchmark_db